<%= render "shared/header" %>

<%# プロフィール部分 %>
<div class='user-show-main'>
  <div class='user-shows'>
    <div class='profile-main'>
      <div class='profile-name'>
        <div class='profile-nickname'><%= "#{@user.nickname}さんのプロフィール" %></div>
        <% if user_signed_in? %>
          <% if current_user.id == @user.id %>
              <%= image_tag("edit_button.png", class:"edit-bottom",id:'edit-bottom') %>
          <% end %>
        <% end %>
      </div>
      
      <div class='profile-content'>
      <%# 編集できる様にする %>
        <div class='profile-text'>
          <div class='profile-text-content'><%= @user.profile %></div>
        </div>
      </div>
      <%# 注文履歴を確認できるリンク・current_userしか表示されないようにする%>
      <% if user_signed_in? %>
        <% if current_user.id == @user.id %>
          <div class='order-record'>
            <%= link_to '注文履歴の確認', order_records_path(current_user.id), class:'order-info' %>
            <%= image_tag("order.png", class:"order-bottom",id:'order-bottom') %>
          </div>
        <% end %>
      <% end %>
    </div>
<%# /プロフィール部分 %>

<%# 自分の出品した商品の一覧 %>
    <div class='list-item-main'>
      <div class='list-item-title'>
        <div>出品商品一覧</div>
      </div>
      <div class='list-items'>
         <% @items.each do |item| %>
         <div class='list-item'>
          <%= link_to image_tag(item.image, class:'list-image'),item_path(item.id) %>
            <ul class ='list-info'>
              <li><%= "商品名：#{item.name}" %></li>
              <li><%= "価格：#{item.price}" %></li>
            </ul>
         </div>
        <% end %>
      </div>
    </div>
<%# /自分の出品した商品の一覧 %>
  </div>
</div>

<%# モーダルコンテンツ%>
<div id="modal", class="modal">
  <div class="modal-content">
    <div class="modal-title">プロフィールの編集</div>
    <%= form_with model: @user, class:"edit-area" do |f| %>
      <%= f.text_area :profile, class:"profile-input", id:"profile-input", maxlength:200 %>
        <div class="bottoms">
          <%= f.submit "適用する" ,id:"editBtn" ,class:"edit" %>
          <%= f.submit "更新して閉じる",id:"closeBtn" ,class:"close" %>
        </div>
    <% end %>
  </div>
</div>
<%# /モーダルコンテンツ%>

<%= render "shared/footer" %>
